<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- <bean id="add" class="com.spring.basic.Address"> <property name="city" 
		value="hyd" /> <property name="country" value="india" /> </bean> -->

	<bean id="dt" class="java.util.Date" />

	<bean id="emp" class="com.spring.lifecycleinit.MessageGenarator" 
	init-method="init" destroy-method="destroy">
		<property name="name" value="Alen" />
		<property name="date" ref="dt" />

	</bean>
</beans>
